.course-img{
    position: relative;
    height: 160px;
}
.course-item:hover .course-img{
    transform: scale(0.9);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.course-img .course-price{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ee9b0b;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 4px;

}
.course-info ul li {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
}
.course-info ul li .fa-star{
    color: #eaa023;
}
.course-info p{
    font-size: 12px;
}