.primary-button{
    background-color: #407bff;
    border: 2px solid #407bff;
}
.primary-button:hover{
    background-color: transparent;
    color: #407bff !important;
    transition: all 0.5s ease;
}