/* Contact Form Style  */
.contact-form form{
    max-width: 600px;
    background-color: #24292d;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 5px 5px 30px rgba(212, 203, 203, 0.2);
    margin: auto;
    text-transform: capitalize;
}
.contact-form textarea.form-control{
    height: 120px;
    resize: none;
    padding-top: 15px;
}

