.movie{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 15%;
    padding: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid white;
    background-color: white;
    box-shadow: 2px 2px 5px rgb(177, 166, 166);
    text-align: left;
}
.movie img{
    width: 400px;
    height: 400px;
}
.movie-info{
    border-left: 4px solid white;
    padding: 10px;
    text-align: left;
}
.title{
    color: #dc2f02;
}
.fa-star{
    color: #dc2f02;
}
.button{
    background-color: #dc2f02;
    border: 2px solid #dc2f02;
    padding: 10px;
    border-radius: 5px;
    color: white;
    margin-right: 10px;
}
.button:hover{
    background-color: transparent;
    color: #dc2f02;
    transition: all 0.5s ease;
}
.color-primary{
    color: #dc2f02;
}