*{
  font-family: 'Poppins', sans-serif;
}
/* Main Colors  */
.color-1{
  color: #272343;
  
}
.color-2{
  color: #eaa023;
  
}
.color-3{
  color: #407bff;
}
.color-4{
  color: gray;
}
.bg-color-1{
  background-color: #24292d;
}
.bg-color-2{
  background-color: #2f363e;
}
.bg-color-3{
  background-color: rgba(65, 20, 20, 0);
}
.shadow{
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
hr{
  border: 1px solid gray;
  width: 50%;
  margin: 2px auto;
}

/* Animation  */
@keyframes spin01{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes zoomOutIn01{
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.9);
    }
}
.image{
  border: 1px solid black;
}
.transition{
  transition: all 0.5s ease;
}
.unlist{
  list-style-type: none;
}
.section-title h2 span{
    position: relative;
}
.section-title h2 span::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: gray;
    transform: skewY(-3deg);
}